2054/Assets/Art/3D models/Kush_Import/DES Project 3D files and models/Tod_Bab_Room_FBX/Tod_Bab_Room_FBX/Shelves and Books/Shelf_UV_DefaultMaterial_OcclusionRoughnessMetallic.tga.meta
2054/Assets/Art/3D models/Kush_Import/DES Project 3D files and models/Tod_Bab_Room_FBX/Tod_Bab_Room_FBX/Shelves and Books/Shelf_UV_DefaultMaterial_OcclusionRoughnessMetallic.tga
